name: Download HLS with JWT
on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'M3U8 Link'
        required: true
      filename:
        description: 'Output Name'
        required: true
        default: 'video.mp4'
      proxy_url:
        description: 'Proxy (Optional)'
        required: false

jobs:
  download-job:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          pip install yt-dlp
          sudo -v ; curl https://rclone.org/install.sh | sudo bash

      - name: Configure Rclone
        env:
          RCLONE_CONF_CX: ${{ secrets.RCLONE_CONF }}
        run: |
          mkdir -p ~/.config/rclone
          echo "$RCLONE_CONF_CX" > ~/.config/rclone/rclone.conf

      - name: Download Video
        env:
          # توکن را از سکرت می‌خوانیم و در متغیر محیطی می‌ریزیم
          MY_TOKEN: ${{ secrets.JWT_TOKEN }}
        run: |
          # هدر احراز هویت را می‌سازیم
          AUTH_HEADER="Authorization: Bearer $MY_TOKEN"
          UA="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
          
          echo "Starting download..."
          
          if [ -z "${{ inputs.proxy_url }}" ]; then
            # دانلود مستقیم با توکن
            yt-dlp "${{ inputs.video_url }}" \
              --add-header "$AUTH_HEADER" \
              --user-agent "$UA" \
              --referer "${{ inputs.video_url }}" \
              -o "${{ inputs.filename }}" \
              --merge-output-format mp4
          else
            # دانلود با پروکسی و توکن
            yt-dlp "${{ inputs.video_url }}" \
              --proxy "${{ inputs.proxy_url }}" \
              --add-header "$AUTH_HEADER" \
              --user-agent "$UA" \
              --referer "${{ inputs.video_url }}" \
              -o "${{ inputs.filename }}" \
              --merge-output-format mp4
          fi

      - name: Upload to Drive
        run: |
          rclone copy "${{ inputs.filename }}" gdrive:/Downloads/ -v
